<%- include("partials/header") %>

<h1>Compose</h1>

<form action="/compose" method="POST">

    <div  class="form-group">

        <label >Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label >post</label>
        <textarea name="postArea" class="form-control" cols="30" rows="5"></textarea>

    </div>

<button class="btn btn-primary" name="button" type="submit">publish</button>

</form>



<%- include("partials/footer") %>
